.index {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.index .div {
  background-color: #ffffff;
  height: 6339px;
  overflow: hidden;
  position: relative;
  width: 1920px;
}

.index .navbar {
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.index .logo {
  height: 150px;
  left: 29px;
  position: absolute;
  top: 25px;
  width: 300px;
}

.index .image {
  height: 150px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 269px;
}

.index .input {
  align-items: center;
  background-color: #eeeeee;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  left: 459px;
  overflow: hidden;
  padding: 18px 20px;
  position: absolute;
  top: 70px;
  width: 610px;
}

.index .frame {
  height: 24px;
  position: relative;
  width: 173px;
}

.index .text-wrapper {
  color: #b6b3b3;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 34px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
}

.index .search {
  height: 24px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 24px;
}

.index .text-wrapper-2 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.index .helpline {
  height: 53px;
  left: 1332px;
  position: absolute;
  top: 71px;
  width: 262px;
}

.index .headphones {
  height: 48px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 48px;
}

.index .call-us {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 64px;
  letter-spacing: 2.34px;
  line-height: normal;
  position: absolute;
  top: 0;
}

.index .text-wrapper-3 {
  color: #bac34e;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 64px;
  letter-spacing: 2.34px;
  line-height: normal;
  position: absolute;
  top: 31px;
}

.index .icon-set {
  height: 61px;
  left: 1650px;
  position: absolute;
  top: 69px;
  width: 214px;
}

.index .account-icon {
  background-color: #e8f8f7;
  border-radius: 30px;
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 60px;
}

.index .user {
  height: 36px;
  left: 12px;
  position: absolute;
  top: 11px;
  width: 36px;
}

.index .wishlist {
  height: 60px;
  left: 75px;
  position: absolute;
  top: 1px;
  width: 68px;
}

.index .overlap-group {
  height: 60px;
  position: relative;
  width: 66px;
}

.index .ellipse {
  background-color: #f6f3e3;
  border-radius: 30px;
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 60px;
}

.index .heart {
  height: 32px;
  left: 14px;
  position: absolute;
  top: 12px;
  width: 32px;
}

.index .ellipse-2 {
  background-color: #e0bf96;
  border-radius: 10px;
  height: 20px;
  left: 46px;
  position: absolute;
  top: 0;
  width: 20px;
}

.index .text-wrapper-4 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 53px;
  letter-spacing: 1.56px;
  line-height: normal;
  position: absolute;
  top: 2px;
}

.index .cart {
  height: 61px;
  left: 150px;
  position: absolute;
  top: 0;
  width: 66px;
}

.index .overlap {
  height: 61px;
  position: relative;
  width: 64px;
}

.index .ellipse-3 {
  background-color: #f3e4dc;
  border-radius: 30px;
  height: 60px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 60px;
}

.index .basket-business {
  height: 44px;
  left: 8px;
  position: absolute;
  top: 7px;
  width: 44px;
}

.index .ellipse-4 {
  background-color: #e0bf96;
  border-radius: 10px;
  height: 20px;
  left: 44px;
  position: absolute;
  top: 0;
  width: 20px;
}

.index .text-wrapper-5 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 50px;
  letter-spacing: 1.56px;
  line-height: normal;
  position: absolute;
  top: 2px;
}

.index .sub-navbar {
  align-items: center;
  background-color: #0a472e;
  display: flex;
  gap: 83px;
  left: 0;
  padding: 10px 45px;
  position: absolute;
  top: 200px;
  width: 1920px;
}

.index .frame-2 {
  background-color: #bac34e;
  border-radius: 50px;
  height: 70px;
  overflow: hidden;
  position: relative;
  width: 425px;
}

.index .hamburger-menu {
  height: 32px;
  left: 34px;
  position: absolute;
  top: 19px;
  width: 32px;
}

.index .text-wrapper-6 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 91px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 21px;
  white-space: nowrap;
}

.index .submenu {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 30px;
  justify-content: center;
  padding: 10px;
  position: relative;
}

.index .frame-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.index .text-wrapper-7 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .keyboard-arrow-down {
  height: 24px;
  position: relative;
  width: 24px;
}

.index .text-wrapper-8 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .carousel {
  background-image: url(https://cdn.animaapp.com/projects/65b34b5cea2b501e422284a0/releases/65b34c90b4cac5d356504b7c/img/carousel.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 450px;
  left: 0;
  position: absolute;
  top: 290px;
  width: 1920px;
}

.index .frame-4 {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  left: 1710px;
  position: relative;
  top: 355px;
}

.index .group {
  height: 70px;
  position: relative;
  width: 70px;
}

.index .arrow-right-wrapper {
  background-color: #ffffff;
  border-radius: 35px;
  box-shadow: 0px 1px 4px #00000040;
  height: 70px;
  position: relative;
}

.index .arrow-right {
  height: 32px;
  left: 19px;
  position: absolute;
  top: 19px;
  width: 32px;
}

.index .img-wrapper {
  background-color: #ffffff;
  border-radius: 35px;
  box-shadow: 0px 1px 4px #00000040;
  height: 70px;
  position: relative;
  width: 70px;
}

.index .overlap-2 {
  height: 5599px;
  left: -2px;
  position: absolute;
  top: 740px;
  width: 1920px;
}

.index .shop-new {
  align-items: center;
  background-color: #fdf4eb;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 5599px;
  left: 0;
  padding: 20px 5px;
  position: absolute;
  top: 0;
  width: 1920px;
}

.index .blog {
  height: 450px;
  position: relative;
  width: 1866px;
}

.index .frame-5 {
  background-image: url(https://cdn.animaapp.com/projects/65b34b5cea2b501e422284a0/releases/65b34c90b4cac5d356504b7c/img/frame-9.svg);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 10px;
  height: 450px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 610px;
}

.index .text-wrapper-9 {
  color: #0a472e;
  font-family: "Poppins", Helvetica;
  font-size: 36px;
  font-weight: 700;
  left: 54px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 62px;
}

.index .shop-now {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 54px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 337px;
}

.index .frame-6 {
  background-image: url(https://cdn.animaapp.com/projects/65b34b5cea2b501e422284a0/releases/65b34c90b4cac5d356504b7c/img/frame-10.svg);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 10px;
  height: 450px;
  left: 625px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 610px;
}

.index .frame-7 {
  background-image: url(https://cdn.animaapp.com/projects/65b34b5cea2b501e422284a0/releases/65b34c90b4cac5d356504b7c/img/frame-11.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 10px;
  height: 450px;
  left: 1250px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 610px;
}

.index .best-honey-with {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 36px;
  font-weight: 700;
  left: 54px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 62px;
}

.index .shop-now-2 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 54px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 337px;
}

.index .div-2 {
  background-color: #ffffff;
  border-radius: 10px;
  height: 850px;
  overflow: hidden;
  position: relative;
  width: 1880px;
}

.index .group-2 {
  height: 68px;
  left: 53px;
  position: absolute;
  top: 26px;
  width: 1690px;
}

.index .group-3 {
  height: 68px;
  left: 0;
  position: absolute;
  top: 0;
  width: 252px;
}

.index .img {
  height: 15px;
  left: 0;
  position: absolute;
  top: 30px;
  width: 15px;
}

.index .text-wrapper-10 {
  color: #0a472e;
  font-family: "Poppins", Helvetica;
  font-size: 45px;
  font-weight: 400;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.index .frame-8 {
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  gap: 10px;
  left: 1170px;
  padding: 5px 10px;
  position: absolute;
  top: 14px;
}

.index .nut-seed {
  color: #bac34e;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.index .ellipse-5 {
  background-color: #606060;
  border-radius: 1.25px;
  height: 2.5px;
  position: relative;
  width: 2.5px;
}

.index .text-wrapper-11 {
  color: #606060;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.index .frame-9 {
  border-color: #d4d4d4;
  border-top-style: solid;
  border-top-width: 1px;
  height: 700px;
  left: 55px;
  position: absolute;
  top: 100px;
  width: 1730px;
}

.index .overlap-group-wrapper {
  background-image: url(https://cdn.animaapp.com/projects/65b34b5cea2b501e422284a0/releases/65b34c90b4cac5d356504b7c/img/image.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 6px;
  height: 660px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 40px;
  width: 410px;
}

.index .overlap-group-2 {
  background: linear-gradient(180deg, rgb(17.53, 17.53, 17.53) 0%, rgba(0, 0, 0, 0) 100%);
  height: 660px;
  position: relative;
}

.index .text-wrapper-12 {
  color: #ffffff;
  font-family: "Caveat", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 117px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 101px;
}

.index .text-wrapper-13 {
  color: #ffda73;
  font-family: "Fredoka", Helvetica;
  font-size: 58px;
  font-weight: 700;
  left: 102px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 151px;
}

.index .text-wrapper-14 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 22px;
  font-weight: 400;
  left: 111px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 231px;
}

.index .product-cards {
  background-color: #ffffff;
  height: 660px;
  left: 449px;
  position: absolute;
  top: 40px;
  width: 1281px;
}

.index .div-3 {
  height: 660px;
  position: relative;
}

.index .c-ards {
  height: 660px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1281px;
}

.index .frame-10 {
  background-color: #ffffff;
  height: 660px;
  left: 0;
  position: absolute;
  top: 0;
  width: 310px;
}

.index .nut-seed-2 {
  color: #bac34e;
  font-family: "Poppins", Helvetica;
  font-size: 19px;
  font-weight: 400;
  left: 103px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 343px;
}

.index .flexcontainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 63px;
  left: 38px;
  position: absolute;
  top: 381px;
  width: 234px;
}

.index .text {
  align-self: stretch;
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
}

.index .span {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 0;
}

.index .text-wrapper-15 {
  color: #ffdac6;
  font-family: "Poppins", Helvetica;
  font-size: 19px;
  font-weight: 400;
  left: 112px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 465px;
  width: 86px;
}

.index .line {
  height: 2px;
  left: 105px;
  position: absolute;
  top: 508px;
  width: 100px;
}

.index .add-to-cart {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 19px;
  font-weight: 700;
  left: 79px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 525px;
}

.index .frame-11 {
  background-color: #ffffff;
  height: 660px;
  left: 330px;
  position: absolute;
  top: 0;
  width: 310px;
}

.index .text-wrapper-16 {
  color: #bac34e;
  font-family: "Poppins", Helvetica;
  font-size: 19px;
  font-weight: 400;
  left: 107px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 343px;
}

.index .flexcontainer-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 63px;
  left: 27px;
  position: absolute;
  top: 381px;
  width: 256px;
}

.index .add-to-cart-2 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 75px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 525px;
}

.index .frame-12 {
  background-color: #ffffff;
  height: 660px;
  left: 660px;
  position: absolute;
  top: 0;
  width: 310px;
}

.index .text-wrapper-17 {
  color: #bac34e;
  font-family: "Poppins", Helvetica;
  font-size: 19px;
  font-weight: 400;
  left: 127px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 343px;
}

.index .flexcontainer-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 63px;
  left: 32px;
  position: absolute;
  top: 381px;
  width: 247px;
}

.index .frame-13 {
  background-color: #ffffff;
  height: 660px;
  left: 990px;
  position: absolute;
  top: 0;
  width: 291px;
}

.index .text-wrapper-18 {
  color: #bac34e;
  font-family: "Poppins", Helvetica;
  font-size: 19px;
  font-weight: 400;
  left: 118px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 343px;
}

.index .flexcontainer-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 63px;
  left: 33px;
  position: absolute;
  top: 381px;
  width: 226px;
}

.index .line-2 {
  height: 2px;
  left: 96px;
  position: absolute;
  top: 508px;
  width: 100px;
}

.index .div-wrapper {
  align-items: center;
  background-color: #0791d6;
  border-radius: 10px 0px 40px 0px;
  display: inline-flex;
  justify-content: center;
  left: 0;
  overflow: hidden;
  padding: 5px 30px 5px 15px;
  position: absolute;
  top: 0;
}

.index .text-wrapper-19 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.index .frame-14 {
  align-items: center;
  background-color: #bac34e;
  border-radius: 10px 0px 40px 0px;
  display: inline-flex;
  justify-content: center;
  left: 0;
  overflow: hidden;
  padding: 5px 30px 5px 15px;
  position: absolute;
  top: 35px;
}

.index .overlap-3 {
  height: 700px;
  left: 55px;
  position: absolute;
  top: 100px;
  width: 1730px;
}

.index .frame-15 {
  border-color: #d4d4d4;
  border-top-style: solid;
  border-top-width: 1px;
  height: 700px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1730px;
}

.index .image-2 {
  background-image: url(https://cdn.animaapp.com/projects/65b34b5cea2b501e422284a0/releases/65b34c90b4cac5d356504b7c/img/image-2.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 6px;
  height: 660px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 40px;
  width: 410px;
}

.index .text-wrapper-20 {
  color: #ffffff;
  font-family: "Caveat", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 91px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 101px;
}

.index .text-wrapper-21 {
  color: #ffda73;
  font-family: "Fredoka", Helvetica;
  font-size: 58px;
  font-weight: 700;
  left: 124px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 151px;
}

.index .text-wrapper-22 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 22px;
  font-weight: 400;
  left: 88px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 231px;
}

.index .blog-2 {
  height: 350px;
  position: relative;
  width: 1880px;
}

.index .frame-16 {
  background-image: url(https://cdn.animaapp.com/projects/65b34b5cea2b501e422284a0/releases/65b34c90b4cac5d356504b7c/img/frame-48.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 350px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1200px;
}

.index .organic-ingredients {
  color: #0a472e;
  font-family: "Poppins", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 441px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 64px;
}

.index .shop-now-3 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 527px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 201px;
}

.index .frame-17 {
  background-image: url(https://cdn.animaapp.com/projects/65b34b5cea2b501e422284a0/releases/65b34c90b4cac5d356504b7c/img/frame-49.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 10px;
  height: 350px;
  left: 1234px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 646px;
}

.index .mail-open-alt {
  height: 96px;
  left: 56px;
  position: absolute;
  top: 38px;
  width: 96px;
}

.index .text-wrapper-23 {
  color: #0a472e;
  font-family: "Poppins", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 151px;
}

.index .p {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 199px;
}

.index .group-wrapper {
  align-items: center;
  background-color: #ffffff;
  border: 2px solid;
  border-color: #cecece;
  border-radius: 60px;
  display: flex;
  gap: 305px;
  height: 56px;
  justify-content: center;
  left: 48px;
  overflow: hidden;
  padding: 17px 20px;
  position: absolute;
  top: 243px;
  width: 493px;
}

.index .group-4 {
  height: 27px;
  margin-bottom: -0.5px;
  margin-left: -4.5px;
  margin-right: -2.5px;
  margin-top: -4.5px;
  position: relative;
  width: 460px;
}

.index .text-wrapper-24 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.index .arrow-forward {
  height: 24px;
  left: 434px;
  position: absolute;
  top: 2px;
  width: 24px;
}

.index .group-5 {
  height: 68px;
  left: 0;
  position: absolute;
  top: 0;
  width: 328px;
}

.index .overlap-group-3 {
  background-image: url(https://cdn.animaapp.com/projects/65b34b5cea2b501e422284a0/releases/65b34c90b4cac5d356504b7c/img/rectangle-2.svg);
  background-size: 100% 100%;
  height: 660px;
  position: relative;
}

.index .text-wrapper-25 {
  color: #ffffff;
  font-family: "Caveat", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 105px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 101px;
}

.index .text-wrapper-26 {
  color: #ffda73;
  font-family: "Fredoka", Helvetica;
  font-size: 58px;
  font-weight: 700;
  left: 132px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 151px;
}

.index .spices-flavours {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 22px;
  font-weight: 400;
  left: 109px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 231px;
}

.index .group-6 {
  height: 68px;
  left: 0;
  position: absolute;
  top: 0;
  width: 258px;
}

.index .image-3 {
  background-image: url(https://cdn.animaapp.com/projects/65b34b5cea2b501e422284a0/releases/65b34c90b4cac5d356504b7c/img/image-3.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 6px;
  height: 660px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 40px;
  width: 410px;
}

.index .overlap-group-4 {
  background-image: url(https://cdn.animaapp.com/projects/65b34b5cea2b501e422284a0/releases/65b34c90b4cac5d356504b7c/img/rectangle-2-1.svg);
  background-size: 100% 100%;
  height: 660px;
  position: relative;
}

.index .text-wrapper-27 {
  color: #ffffff;
  font-family: "Caveat", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 138px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 101px;
}

.index .text-wrapper-28 {
  color: #ffda73;
  font-family: "Fredoka", Helvetica;
  font-size: 58px;
  font-weight: 700;
  left: 100px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 151px;
}

.index .text-wrapper-29 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 22px;
  font-weight: 400;
  left: 129px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 231px;
}

.index .overlap-4 {
  height: 465px;
  left: 65px;
  position: absolute;
  top: 258px;
  width: 300px;
}

.index .image-4 {
  height: 287px;
  left: 99px;
  object-fit: cover;
  position: absolute;
  top: 178px;
  width: 201px;
}

.index .rectangle {
  border-color: #000000;
  border-right-style: solid;
  border-right-width: 1px;
  height: 465px;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
}

.index .fruits-vegetables {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 28px;
  font-weight: 400;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
}

.index .view-all {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 22px;
  font-weight: 700;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 376px;
}

.index .flexcontainer-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 185px;
  left: 15px;
  position: absolute;
  top: 104px;
  width: 145px;
}

.index .text-2 {
  align-self: stretch;
  color: transparent;
  font-family: "Poppins", Helvetica;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.index .text-wrapper-30 {
  color: #bcc360;
}

.index .text-wrapper-31 {
  color: #000000;
}

.index .group-7 {
  height: 68px;
  left: 53px;
  position: absolute;
  top: 26px;
  width: 470px;
}

.index .group-8 {
  height: 68px;
  position: relative;
  width: 472px;
}

.index .overlap-5 {
  border-color: #000000;
  border-right-style: solid;
  border-right-width: 1px;
  height: 465px;
  left: 433px;
  position: absolute;
  top: 258px;
  width: 300px;
}

.index .text-wrapper-32 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 28px;
  font-weight: 400;
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
}

.index .view-all-2 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 22px;
  font-weight: 700;
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 375px;
}

.index .flexcontainer-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 185px;
  left: 14px;
  position: absolute;
  top: 103px;
  width: 145px;
}

.index .overlap-6 {
  border-color: #000000;
  border-right-style: solid;
  border-right-width: 1px;
  height: 465px;
  left: 788px;
  position: absolute;
  top: 258px;
  width: 300px;
}

.index .flexcontainer-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 185px;
  left: -1px;
  position: absolute;
  top: 103px;
  width: 145px;
}

.index .overlap-7 {
  border-color: #000000;
  border-right-style: solid;
  border-right-width: 1px;
  height: 465px;
  left: 1138px;
  position: absolute;
  top: 258px;
  width: 300px;
}

.index .overlap-8 {
  border-color: #000000;
  border-right-style: solid;
  border-right-width: 1px;
  height: 465px;
  left: 1488px;
  position: absolute;
  top: 258px;
  width: 300px;
}

.index .line-3 {
  height: 7px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: 115px;
  width: 1677px;
}

.index .image-5 {
  height: 181px;
  left: 1298px;
  object-fit: cover;
  position: absolute;
  top: 4991px;
  width: 150px;
}

.index .image-6 {
  height: 160px;
  left: 1329px;
  object-fit: cover;
  position: absolute;
  top: 4831px;
  width: 119px;
}

.index .image-7 {
  height: 187px;
  left: 955px;
  object-fit: cover;
  position: absolute;
  top: 4974px;
  width: 150px;
}

.index .image-8 {
  height: 170px;
  left: 598px;
  object-fit: cover;
  position: absolute;
  top: 5009px;
  width: 150px;
}

.index .image-9 {
  height: 228px;
  left: 1641px;
  object-fit: cover;
  position: absolute;
  top: 4944px;
  width: 150px;
}
